/* Example CSS rules */
.button {
    -fx-background-color: #07b454;
    -fx-text-fill: white;
    -fx-font-size: 10px;
}
#pause{
    -fx-background-color: #ef0923;
    -fx-text-fill: white;
    -fx-font-size: 10px;
}
#graphic{
    -fx-background-color: #a19340;
    -fx-text-fill: white;
    -fx-font-size: 10px;
}

#column{
    -fx-background-color: #ced0cb;
}

#loadButton{
    -fx-background-color: #0758b4;
    -fx-text-fill: white;
    -fx-font-size: 10px;
}

#ticksButton{
    -fx-background-color: #777272;
    -fx-text-fill: white;
    -fx-font-size: 10px;
}

#hotStyle{
    -fx-background-color: #ea640b;
    -fx-text-fill: white;
    -fx-font-size: 10px;
}

#coldStyle{
    -fx-background-color: #0b9cea;
    -fx-text-fill: white;
    -fx-font-size: 10px;
}

.tables-rows-text-fields{
    -fx-background-color: #ffffff;
    -fx-text-fill: #050505;
    -fx-font-size: 10px;
}

#defaultStyleButton{
    -fx-background-color: #ced0cb;
    -fx-text-fill: #050505;
    -fx-font-size: 10px;
}


